html, body{
	width: 100%;
	height: 100%;
	font-family: 'Arvo', serif;
}

h1{
	font-family: 'Arvo', serif;
}

h2, h3{
	font-family: 'Arvo', serif;
}

/* @media (min-width:1101px){ */

#otter1{
	background: lime;
}

/*
	.otter{
		width:100%;
		height:100%;
		position:relative;
		float: left;
	}
	
	#otter1{
		width: 100%;
		height: 100%;
		background: url("../images/cover.png") center top;
		margin-top: -0.5%;
		margin-left: -0.5%;
	}
	
	#otter1 h1{
		font-size: 7.5em;
		color:#eaff00;
		text-align: center;
		padding-top: 10%;
		text-shadow: 0px 0px 15px black;
	}
*/
	
	#otter2{
		display: none;
	}
	#otter3{
		display: none;
	}
/* } */

@media (min-width:500px px) and (max-width:1100px){
		
/*
	#otter1{
		display: none;
	}
*/

	#otter1{
		display: none;
		
	}
	
	#otter2{
		background: pink;
	
		
	}
	
/*
	#otter2 h2{
		font-size: 2.5em;
		font-style: italic;
		color:#eaff00;
		text-align: center;	
	}
	
	#otter2 h3{
		font-size: 2.5em;
		color:#eaff00;
		text-align: center;
	}

	#otter3{
		display: none;
	}
*/
}

@media (min-width:0px) and (max-width:500){
	#otter3{
		
		
	}
		#otter1{
		display: none;
	}
	#otter3{
		display: none;
	}
}