*{
	margin: 0px;
	padding: 0px;
}

html, body{
	width: 100%;
	height: 100%;
	font-family: 'Arvo', serif;
}

h1{
	font-family: 'Arvo', serif;
}

h2, h3{
	font-family: 'Arvo', serif;
}  

	.otter{
		width:100%;
		height:100%;
		position:relative;
		float: left;
	}
	
	#hero{
		width: 100%;
		height: 25em%;
		position:relative;
		background: url("../images/cover.png") center top;
		display:block; 

	}
	
	#hero h1{
		font-size: 7.5em;
		color:#eaff00;
		text-align: center;
		padding-top: 1%;
		text-shadow: 0px 0px 15px black;
	}
	
	#otter2{
		display: none;
	}
	#otter3{
		display: none;
	}
/* } */

@media (min-width:501 px) and (max-width:1100px){
		
	#otter1{
		display: none;
	}
	
	#otter2{
		width: 100%;
		height: 100%;
/* 		background: url("../images/hands.jpg") center top; */
		background: lime;
		margin-top: -0.5%;
		margin-left: -0.5%;
		display: inline;
}
	
	#otter2 h2{
		font-size: 2.5em;
		font-style: italic;
		color:#eaff00;
		text-align: center;	
	}
	
	#otter2 h3{
		font-size: 2.5em;
		color:#eaff00;
		text-align: center;
	}

	#otter3{
		display: none;
	}
}

@media (min-width:0px) and (max-width:500){
	#otter3{
		
		
	}
		#otter1{
		display: none;
	}
	#otter3{
		display: none;
	}
}